<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artistas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../../assets/css/artistas.css">
    <link rel="shortcut icon" href="../../assets/img/1.gif">
</head>

<body>
    <header>
      <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/views/index/index.html"><img src="/assets/img/logomovible.gif" heights="100px" width="100px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/views/index/index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/views/foros/foros.html">Foros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/views/artistas/artistas.html">Artistas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/views/generos/generos.html">Géneros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/views/suscribete/suscribete.html">¡Suscribete!</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/views/contacto/contactanos.html">Contáctanos</a>
              </li>
            </ul>
            <div class="btn-group dropstart" style="margin-right: 20px;">
              <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> Mi
                Perfil</button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/views/logins/login.html">Log In</a></li>
                <li><a class="dropdown-item" href="/views/registro/registro.html">¡Registrate!</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="text-center mt-5">
        <h1><i class="fas fa-ghost" style="color: #141e28;"></i> Artistas Recomendados</h1>
    </div>
    <div class="container mt-5">
        <div class="row">

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/cdn.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Cuarteto de Nos</h2>
                        <p class="card-text">Rock</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/porcupine tree.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Porcupine Tree</h2>
                        <p class="card-text">Rock Progresivo</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/cartel.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Cartel de Santa</h2>
                        <p class="card-text">Hip-Hop</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/ghost.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Ghost</h2>
                        <p class="card-text">Metal</p>
                        <a href="#" class="btn btn-custom text">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/alfie.jpg" class="card-img-top artist-image p-3 mt-4"
                            alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Alfie Templeman</h2>
                        <p class="card-text">Pop</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/pinkfloyd.png" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Pink Floyd</h2>
                        <p class="card-text">Rock Psicodélico</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/ajr.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">AJR</h2>
                        <p class="card-text">Indie Pop</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/anathema.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Anathema</h2>
                        <p class="card-text">Post Rock</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/kaliuchis.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Kali Uchis</h2>
                        <p class="card-text">R&B/Soul</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/taylorswift.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Taylor Swift</h2>
                        <p class="card-text">Pop</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/maroonV.jpg" class="card-img-top artist-image p-3 mt-4"
                            alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Maroon 5</h2>
                        <p class="card-text">Pop</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/kingcrimson.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">King Crimson</h2>
                        <p class="card-text">Rock Progresivo</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/mothermother.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Mother Mother</h2>
                        <p class="card-text">Rock Indie</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/limpbizkit.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Limp Bizkit</h2>
                        <p class="card-text">Nu Metal</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/icecube.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Ice Cube</h2>
                        <p class="card-text">Hip-Hop</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/stevenw.png" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Steven Wilson</h2>
                        <p class="card-text">Rock Progresivo</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/royal.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Royal Blood</h2>
                        <p class="card-text">Rock Alternativo</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/jamiroquai.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Jamiroquai</h2>
                        <p class="card-text">Jazz/Funk</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/melanie.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Melanie Martinez</h2>
                        <p class="card-text">Pop Alternativo</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/samsmith.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Sam Smith</h2>
                        <p class="card-text">Pop</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/rhcp.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Red Hot Chili Peppers</h2>
                        <p class="card-text">Funk Rock</p>
                        <a href="#" class="btn btn-custom text">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/dualipa.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Dua Lipa</h2>
                        <p class="card-text">Pop</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/keniaos.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Kenia Os</h2>
                        <p class="card-text">Pop</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/opeth.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Opeth</h2>
                        <p class="card-text">Rock Progresivo</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/serugiran.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Serú Girán</h2>
                        <p class="card-text">Rock</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/gustavoce.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Gustavo Cerati</h2>
                        <p class="card-text">Rock</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/arcticMonkeys.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Arctic Monkeys</h2>
                        <p class="card-text">Rock</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/gorillaz.png" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Gorillaz</h2>
                        <p class="card-text">Electropop</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/badbunny.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Bad Bunny</h2>
                        <p class="card-text">Urbano Latino</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/dojacat.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Doja Cat</h2>
                        <p class="card-text">Hip-Hop/Rap</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/top.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Twenty One Pilots</h2>
                        <p class="card-text">Hip-Hop/Rock</p>
                        <a href="../../views/artistas/plantillaart.html" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card">
                    <div class="artist-image-container">
                        <img src="../../assets/img/artistas/theweeknd.jpg" class="card-img-top artist-image p-3 mt-4" alt="Artista 1">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">The Weeknd</h2>
                        <p class="card-text">R&B/Soul</p>
                        <a href="#" class="btn btn-custom">Ver más</a>
                    </div>
                </div>
            </div>

            



        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="./../../assets/js/checklogin.js"></script>
</body>

</html>