body {
    background: url('https://source.unsplash.com/1600x900/?music,vinyl') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative; 
}

.card {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin-bottom: 30%;
}

.card-header {
    background-color: rgba(255, 69, 0, 0.4);
    border-bottom: none;
    padding: 40px 40px;
    text-align: center;
    border-radius: 4px 4px 0 0;
}

.card-header h4 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

.card-body {
    padding: 40px;
}

.form-group {
    margin-bottom: 30px;
}

.form-control, .btn-primary {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: #fff;
    border-radius: 4px;
    height: 50px;
}

.form-control::placeholder {
    color: #aaa;
}

.btn-primary {
    background-color: #ff4500;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 4px;
    width: 100%;
}

.btn-primary:hover {
    background-color: #ff5500;
}

.custom-control-label::before, .custom-control-label::after {
    border-color: #aaa;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #ff4500;
}



