*{
    padding:0;
    margin:0;
    box-sizing: border-box; /*para que el tamaño de los elementos no se modifique*/
}

body{
    margin:0;
    display: block; /*permite que los elementos se acomoden en varias lineas*/
    justify-content: center;
    align-items: center;
    position: relative; /*para que el contenedor se ajuste al tamaño de los elementos*/
    background-color: #e1e4e4;
	font-family: 'Roboto', sans-serif;
}

header{
    color: white;
}

.navbar-expand-lg{
    background-color: #141e28; 
}

navbar{
    position: sticky;
}

.dropdown-menu{
    list-style: none;
}

.container-fluid{
    color: white;
}

.btn-custom {
    background-color: #f79336;
    color: #141e28;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #ad6827;
}


.contenedor {
	width: 90%;
	max-width: 1000px;
	padding: 40px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner{
	width: 100px;
	height: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
}

.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #f79336;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.image-button {
  background-color: #e1e4e4;
  position: absolute;
  height: 50px;  
  width: 50px;
  top: 140px;
  left: 20px;
}

.image-button img {
  height: 50px;
  width: 50px;
}