*{
    padding:0;
    margin:0;
    box-sizing: border-box; 
}

header{
    color:white
}

body{
    margin:0;
    display: block; 
    justify-content: center;
    align-items: center;
    position: relative; 
    background-color: #e1e4e4;
    font-family: "Roboto", sans-serif;
}

p{
    color: #141e28;
    font-weight: bold;
    font-size: 20px;
}

h2{
    text-shadow:
        -1px -1px 0 #141e2862,  
        1px -1px 0 #141e2862, 
        -1px 1px 0 #141e2862,  
        1px 1px 0 #141e2862;    
    color: #f79336;
    font-size: 50px;
    font-weight: 350;
}

.btn-custom {
    background-color: #f79336;
    color: #141e28;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s;
    float: none;
    position: static;
    font-weight: bold;
    font-size: 20px;
}

.btn-custom:hover {
    background-color: #ad6827;
}

.navbar-expand-lg{
    background-color: #141e28; 
}

.dropdown-menu{
    list-style: none;
}


body {
    font-family: 'Roboto', sans-serif;
}

/* Animación de aparición */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(3px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

*{
    opacity: 1;
    animation-name: fadeInUp;
    animation-duration: .6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

header {
    animation-delay: 0.1s;
}

.contact-form {
    animation-delay: 0.2s;
}

.btn-custom {
    animation-delay: 0.3s;
}

.caja img {
    height: 400px;
    width: 100%;
    align-items: center;
}

.card {
    height: 300px;
    width: 100%;
    background-color: #141e28;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card img {
    border-radius: 20px 20px 20px 20px;
    height: 200px;
    width: 100%;
    object-fit: contain;
    object-position: center;
    margin: 5px;
}

.card-body{
    display: flex;
    align-items: center; 
    justify-content: center; 
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}

#info li::before{
    content: "  ☆ ";
}

h3{
    color: #f79336;
    font-weight: bold;
}