body {
    background: url('https://source.unsplash.com/1600x900/?music,vinyl') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

.card {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    margin-bottom: 30px;
}

.card-header {
    background-color: #f79336;
    border-bottom: none;
    padding: 20px 40px;
    text-align: center;
    border-radius: 4px 4px 0 0;
}

.card-header h4 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #fff;
}

.card-body {
    padding: 40px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control, .btn-primary {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: #fff;
    border-radius: 4px;
    height: 50px;
}

.form-control:focus, .btn-primary:hover {
    border-color: #f79336;
    background-color: #acdfe0;
    color: #fff;
    border-radius: 4px;
    height: 50px;
}

.form-control::placeholder {
    color: #aaa;
}

.btn-primary {
    background-color: #f79336;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 4px;
    width: 100%;
}

.btn-primary:hover {
    background-color: #ad6827;
}

.custom-control-label::before, .custom-control-label::after {
    border-color: #aaa;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #ff4500;
}

#q {
    color: #acdfe0;
}
