<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./../../assets/css/profile.css">
    <link rel="stylesheet" href="./../../assets/css/inicio.css">
    <link rel="shortcut icon" href="../../assets/img/1.gif">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../../assets/img/logomovible.gif" heights="100px" width="100px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
              aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./../../views/index/index.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./../../views/artistas/artistas.html">Artistas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./../../views/generos/generos.html">Géneros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">¡Suscribete!</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./../../views/contacto/contactanos.html">Contáctanos</a>
                </li>
              </ul>               
              </div>
            </div>
          </div>
        </nav>
      </header>
      <br>
      <br>
    <div id="user-profile-container">
        <!-- Los datos del usuario se insertarán aquí -->
    </div>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
    <script src="./../../assets/js/getuserinfo.js"></script>
    <script src="./../../assets/js/checklogin.js"></script>
</body>
</html>