<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Géneros</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="../../assets/css/generos.css">
  <link rel="shortcut icon" href="../../assets/img/1.gif">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../assets/img/logomovible.gif" heights="100px" width="100px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="../index/index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../artistas/artistas.html">Artistas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  active" aria-current="page" href="../generos/generos.html">Géneros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">¡Suscribete!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../contacto/contactanos.html">Contáctanos</a>
            </li>
          </ul>
          <div class="btn-group dropstart" style="margin-right: 20px;">
            <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> Mi
              Perfil</button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="../logins/login.html">Log In</a></li>
              <li><a class="dropdown-item" href="../registro/registro.html">¡Registrate!</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="tarjeta">
    <div class="tarjeta-imagen">
        <div class="header">
        <a href="#">
            <img src="../../assets/img/generos/pop.jpeg" alt="">
        </a>
        <h2>Pop</h2>
        <h4>Dua Lipa, Olivia Rodrigo, Selena Gómez.</h4>
    </div>
    <div class="descripcion">
        <p>Dentro de los diferentes estilos musicales el pop es uno de los más comerciales y escuchados en todo el mundo. 
            Debe su nombre a la abreviación “popular music” que, como bien nos indica en inglés, hace referencia a los sonidos, 
            temas y melodías para el público de masas.</p>
        <a href="#" class="btn btn-custom">¡Descubre más!</a>
    </div>
  </div>
  </div>

  <div class="tarjeta">
    <div class="tarjeta-imagen">
        <div class="header">
        <a href="#">
            <img src="../../assets/img/generos/rock.jpg" alt="">
        </a>
        <h2>Rock</h2>
        <h4>David Bowie, Elvis Presley, Bob Dylan.</h4>
    </div>
    <div class="descripcion">
        <p>Este nuevo género musical se caracterizó por su ritmo frenético, su energía y su actitud rebelde.
             Las características distintivas del rock and roll incluyen el uso de guitarras eléctricas, baterías y bajo, 
             así como el uso de letras provocativas y sexualmente sugerentes.</p>
        <a href="#" class="btn btn-custom">¡Descubre más!</a>
    </div>
  </div>
  </div>

  <div class="tarjeta">
    <div class="tarjeta-imagen">
        <div class="header">
        <a href="#">
            <img src="../../assets/img/generos/jaz.jpg" alt="">
        </a>
        <h2>Jazz</h2>
        <h4>Miles Davis, Nina Simone, Ray Charles.</h4>
    </div>
    <div class="descripcion">
        <p>El jazz es un género o estilo musical que surge de la mezcla de diferentes melodías y ritmos afro-norteamericanos, 
            considerado como uno de los más famosos y populares estilos de música del mundo. Este estilo se caracteriza por no
             basarse en ninguna partitura de forma estructurada.</p>
        <a href="#" class="btn btn-custom">¡Descubre más!</a>
    </div>
  </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="./../../assets/js/checklogin.js"></script>


</body>
</html>