<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Artistas</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/login_artist.css">
    <link rel="shortcut icon" href="../../assets/img/1.gif">
</head>

<body>
    <div class="login-container">
        <div class="login-header">
            <h1>Login de Artistas</h1>
            <p>Accede a tu espacio musical</p>
        </div>
        <form id="formulario">
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" required>
                <span id="erroremail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="pwd" placeholder="Contraseña" required>
                <span id="errorpwd" class="text-danger"></span>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="rememberMe">
                <label class="custom-control-label" for="rememberMe">Recuérdame</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
    <script src="./../../assets/js/loginArtists.js"></script>
    </body>

</html>
